<h1> Dish Index </h1>
<% @dishes.each do |dish|%>
    <p><%= dish.name %></p>
    <p><%= dish.available %></p>
    <p><%= dish.price %></p>
    <p><%= dish.restaurant.id %></p>
    <%= link_to "Update #{dish.id}", "/dishes/#{dish.id}/edit", method: :get %>
    <br>
<% end %>