<h1>Dish <%= @dish.id%> Show Page</h1>
<p>Name: <%= @dish.name %></p>
<p>Available?: <%= @dish.available %></p>
<p>Price: <%= @dish.price %></p>
<p>Restaurant id: <%= @dish.restaurant_id %></p>
<%= link_to "Delete Dish", "/dishes/#{@dish.id}", method: :delete %>